<h1>HOME</h1>

<div>
  <button id='login'>Login</button>
  <button id='register'>Register</button>
  <button id='perfil'>Perfil</button>
  <a href='/api/auth/github'>Login con github</a>
</div>
<script src='/home.js'></script>